$font-header: "Roboto Slab", sans-serif, bold, medium;
$color-header:#ffffff;
$color-secondary-text: #4A4A4A;
$color-suptitle:#6c933e;
$color-title-section: #000000;
$background-section-1:#ffffff;
$background-section-2:#d9e4cc;
$background-footer:#4a4a4a;
$background-color-boton:#6c933e;
$background-color-vueltalcole:#d9e4cc
