<footer class="realfooter">
    <div class="footer">
        <a href="#shared-starters">
            <div class="footer-arrow">
            <img src="/images/ico-arrow.svg" alt="Logo">
            </div>
        </a>
        <div class="footer-links"> 
            <div class="footer-section1">
                <a href="https://adalab.es/">ZAPATILLAS</a>
                <a href="https://adalab.es/">ROPA</a>
                <a href="https://adalab.es/">NIÑO/A</a>
                <a href="https://adalab.es/">DESTACADOS</a>
                <a href="https://adalab.es/">TIPS</a>
            </div>
            <div class="footer-section2"> 
                <a href="https://adalab.es/">TWITTER</a>
                <a href="https://adalab.es/">INSTAGRAM</a>
                <a href="https://adalab.es/">YOUTUBE</a>
            </div>
        </div>
        <div class="container4">
            <div class="footer-end">
                <p>&copy; 2023</p>
                <p>we <span class="heart">❤</span> run</p>
            </div>
        </div>
    </div>
</footer>
