<header>
    <div class="menu"><a href="https://adalab.es/"><img src="/images/ico-menu.svg" alt="niña jugando al futbol"></a></div>
    <div class="header">
        <div class="title">
            <h1>COMIENZOS COMPARTIDOS</h1>
        </div>
        <p class="title2">Todo lo que necesitan para volver al cole con ilusión</p>
        <a href="#main">
            <div class="arrow">
                <img src="/images/ico-scroll-down.svg" alt="ico-scroll-down">
            </div>
        </a>
    </div>
    </div>
</header>