<main>
    <section class="store-section">
        <h2>HISTORIAS, MODA Y ROPA DEPORTIVA</h2>
        <h3>TU TIENDA DE DEPORTE</h3>
        <p>El deporte nos mantiene en forma. Nos mantiene alerta. Nuestra ropa deportiva para hombre y mujer te ofrece las últimas tecnologías, a la altura de tu rendimiento, para que superes tu mejor marca personal.</p>
        <div class="container1"><button class="shop-button">Comprar</button></div>
        
    <div>
    </section>
        <section id="back-to-school" class="back-to-school">
            <h4 class="h4">¡Prepáralos con tus marcas favoritas!</h4>
            <h5 class="h5">VUELTA AL COLE</h5>
            <div class="bag">
                <div class="card">
                    <img src="/images/lpbts-mod05-img01-desk.png">
                    <h6 class="h6">Mochilas esoclares</h6>
                </div>
            <div class="estuches">
                <div class="card">
                    <img src="/images/lpbts-mod05-img04-mob.png">
                    <h7 class="h7">Estuches</h7>
                </div>
            </div>
            <div class="sportbag">
                <div class="card">
                    <img src="/images/lpbts-mod05-img03-mob.png">
                    <h8 class="h8">Bolsas de deporte</h8>
                </div>
            </div>
            <div class="button3">
            <button class="Empezar-ahora"><div class="card">Empezar ahora</button></div>
            </div>   
        </section>
    </section>
    </div>
    
</main>